<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Book</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Add new item</h1>
	<div>
		<form th:object="misc" th:action="@{saveItem}" action="#"
			method="post">

			
			<label for="item">Item name</label>
			<input type="text" id="item" th:field="*{item}" /> 
			
			<label for="date">Date</label>
			<input type="text" id="date" th:field="*{date}" />

			<input type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>